
body{

    background-image: url("../images/path.png");
}

.container{

    margin:0;
}

.gameName {
	background-color: orange;
	color: white;
    width: auto;
    padding: 10px;
    margin: 10px;


}


.gameInstructions {
    background-color: beige;
    width: auto;
    color: green;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

.numberToMatch{
	background-color: #58C28C;
	color: purple;
    width: 50%;
    padding: 10px;
    margin: 10px;
    height: 150px;

}

.winsAndLosses{

	background-color: #7BD4EA;
    width: 60%;
    color:green;
    padding: 10px;
    margin: 10px;
    height: 150px;

}

#gallery1,
#gallery2,
#gallery3,
#gallery4{

	width: 125px;
	height: 125px;
	padding: 20px;
	
	
}

.currentCounter{
	background-color: #589492;
    width: 80%;
    padding: 10px;
    margin: 10px;
    color:white;

}

.userTotal{

	background-color: #589492;
    width: 80%;
    padding: 10px;
    margin: 10px;
    color:white;
}